h1 {
    text-align: center;
    padding: 0px;
    border-style: solid;
    border-width: thick;
    width: 700px;
    border-color: #EE4B6A;
    background-color:black;
    margin: auto;
    color: white;
    font-family:'courier new';
    font-size:50px;
    
}


#play {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 300px;
  padding-right: 300px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}
#credits {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;
}
#leaderboard {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}
#themes {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}

#exit{

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;
}
}

body{
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAA81BMVEW7PWP///+LNE+9Pma5PmO+PGNOICx6J0L8/////v///f+/O2O4PmO7PWT8/v+zOl+5LVq5MV63Nl67NWG/M1+4Klj59Pa9VHS2PWS6N2KzLlv15eq5M1zkusi0KVjAOmTqz9e1SWq4WXbcq7nx5OnBcIjOi523WXX15OvNgZjEZ4PkwcvCeo/s3ODcobHGiZrHhpnYlqrOl6bjydLNeY9AHSZhIDS8bofgqbzIVXz/9PnRoq22Q2rEa4a0SGfatr+5FFDYxcmuIk2yXnjo0tbIXX3s2OXv6+yyTmrtx9K+EVDl3N/Lm6rRcIzTrLbZvMTtv8wgEywqAAAW40lEQVR4nO2dDX/auLKHrYt1jmzZIAu/I8w7CRBogNzbLYGk25DQ3O1pz/f/NHfG0DRpXhroqc3d8v/ttjUYZD8ejUaasdH++78OeqX+R/tHoVYrHPRDabzwT+0fnFpUO+gHorrFARb8nfeR/H8Q1ynAKhxgvUq0cID1eh1gbaEDrC10gLWFDrC20AHWFjrA2kIHWFvoAGsLHWBtoQOsLXSAtYUOsLbQAdYWOsDaQgdYW+gAawtlAUvnGtWpdteIZWGD1us+TOE/vidXMxtYlnavBcq5Zekaf91nLY3GtrsfCZUsYFmUJw6l9mZTt8sJr73esBr19jD8ZQe3jTLxWbx502qKwmar/HY27buvbBL6b99gZvTLjm0bZQKrdmQQ8ke82bIDwmYdab/4kW+iRyYzfyPL0uIpMdk7V7PQUdmlNiHt6PWwfGLKX3l0r1Y2sMRnViT1BMdEgBV/IWQ2r73yszT4vWBxeU4MRhZuOijazicCHes7ywKMUj1gQqWUCLfhE+PhzuvXYajQsh0ls4Bla2pCzCKphDSNF1SHMBJQjdrzQgRdU49CR2i03B90XRlHsUMtMEE17/Q6gaI6wCLzBOTAuAqDqBv2F4EThRwCtqChJNXLAj5V/qXnkCobWO4bgqZ1K9ASdHpECOkrzf3TX3UV+P+37XYr7W7+xWTYro8tyfVSCxiR2UTQiwphb1r14bAVKItSOWkz4tf7QtdFy5y1+zJZXMKnTl/br3dXJnGW5p7CiR8zMk7SF+YrQs5U1CgS0oOe507g3YU6Iob5JyGMkUq/nEzhH8wgs5DqsDfDl0kloLw0wF0YK/aULj7BB6+DOlwH/Iby6+Lc3ZWRZZ2AYVUnpHimNG7Z0V+EjVX5BA1MUuqcA4xrFSATiDFmjM3mLcKMQQUITdzSCl81fdi4FOozchm2CfOb0u3D65/A/8MHCes5rwx0d1Y2oyFwYaT6/k8CZ2hRLV5C2KUcNKgm17kzJYYR0Y8GcjDO5kCiXWTk/MOVz8jAkyvYPpPxJRin99FEA0twQK069IKQomlCr7wctW6DX+7uM4NFSEuIIfHnkmsxdKVb4YyAUZNbPAQnVIEz99FAerG4hKDMYDPblfiGJwFe1dPlR5/53jkpkuZ7z7sCgBEvVUgRDK713nGEcK2/QzfU9DUsTzZWpDKXNIa+NBRxC3xSk2v0CgDUHfRkDGyHgoNjRTQpPR6C0XjxEKxIaC687ydLZrLl5ZcBYKxHGtAHuxp50ASGcL/6mmdmWQZ0PEt1iuQmwrCLzJSCP8mRawnwT6wuNKsNO42Exa/AARmk69AEuqvvJiksyw2KpJ1U1g4K9jB7kgrowKQiU4vSf30BY4awRgJC+TeE1R0Brt7U1Rscwlx+4TMTDI3KIW5LnX/EoIE0JUdYZhn+ZNWYo4u7TcDZD+oV32/fdpSlJeC6yFhmFZpm0w2j0w0sLYGR7zbpwmagFtD9xo73GchBRE8VwmrYOg0hViB+RNewohSW4zZWjHXxlW4SWo3QS4SrOQjr+rWzzJ9WRrC6G1i6lsCg1lrb1IVvspvkDTMMcEQjTwCImU2pFsFEGxy7ve6GEYZc1fcN8F/HIUa3/lwpKpPP1RMXB0V/Hv2tLEuTSGcEwbqm13AobEPH6ykxhb9m6IIM8FFnHlgQzIg0HYY/g9UTGy2L+bH3J2E3X9BVLVxaAmaz8TxqXsJAqcV/4pS8lNUCTjYrpU4XR0OF02XLTaoYgROYB3YwMIcB7wosiPQ8oFh3La2GsQL5t6B2AsHrLPG+AFMY9VhPUcobaHZrnUmBNN/xwo+P4T+ibNbgS6d3lgX/e5O1mWjqEoP2VV/0i+Q48S5hUFQwqF2gz6o6NQvGQVZJZIvhdGe4EFbN1uXFdIMYhssYsS5evY74s8pmiaYQTgk5QViYrLHEYmi2I5tqslVpj2xXL/cq/Yg2+v0AogBee1tdDvoRrql+vqnCMNnvTbp9UQbXH2rg9hfVYWX4R+DYtPzpeFUNtL8VLAAUdc7uraFIdR2gV6aiFKcIZRorfV2nkipJl7Z0TQmVbqv7S11KxHL9AlWxEr/62L8pqyRrIYoeehaZrqjQzQxFf3j3EKV3m48PTYeX+DpXpFuZJhSzgkU5f9AIXSdZX24YmT2xh65za7NImm36Nbv0/ZNtUAsnKY/e0vW7lx5/DAFuLE/P1LByr3Xg0KF+9TLUf0x5w7L0yNmT5PyPlS8sXaelxbi3HynUH+snYOmaXbOdREZRsmtaj2oCAjDyr61X7XTNKsdxFIWxu2PTu+gnYFl2Oe6fLyuV9jDYtXkqPsMcZ/vpii5FZ7RcrSr1foZ9+CdgFZyrejpHMwgmtHaT7gTNHexSXC0x3QMTn92b3l4/ASt5Y7Liekrb3zm9zsOyzfVtu6H3hmzWS2FmuGvT22tHWPAB5w3Ob4ejk7PJqPTtHSsNhHSMQnnBDm2d3n07IsEqwK9Ng7DODdPPup5mG+7F8RzbgND1iao3Hp9iSuNm1DuBpu/ehu9JPw5NWOsP6xQDMR0F32JBKAthnbX7+vOusLg88g0yWyQuKi1hsEIbDolSy4LoiVMUV7IWWl/nuTYvS1lKy2d0m9ow4UvrJzmeFcdzpvR+lEm1SDru417GrSZYdAWaLpc3b6ftRxJHV2pRHjuubXPbhsPECNZ1yuX0EnFaq8lo9xKJXbshlQPCKvN0FkzTqLJQmAcWHKpdc0KnbONXxo1OJ3DKm0Oj8bx/dtYPsTAtElGzc7ZouNSVEjoSUE1PQdxNmGuWq5q98eQkcL47NQuXTo/nChdVrbUtUs2WEVZAuJFGax8H1dBxClGMJsaVddbr9Ws0RJMrBZ3OhcrYsuyoaYK/iNAUwkIB01Du6cxfCm4VSrer+gkS0lszQvz6FVxmJHc9wHUqdlyiWnn+qT3DhfYzdTRcTlTt4vTyWqNO/3OrJ2VqXlR16n6axakG5QeTHn7FGOtIbsM0mnK8KjbXZOeGEXPQvA54XGGkd7Jst6t9ARd1gq2SQRnIqeYAj6jV2LGIZFdYWDZ049iuUq7jQLClU1wPH3oatWOfkbqn8dISCxTgFBayZmnxZJ1kZzdCV0dtsh4bFuIURtOC0yLkOHE+mfBSvcHRecXnRro/MVjlXe2+33LOCdZ6QScsO45wBNVtTXXNdEXQLM6CD77Blga2bU6cpJX+A/Ap7i4wj4TJyXmk7dIVd+2GTp2wsVM4OTkdn7eq1Vbgxsdw/TxNj+amQQZC8+rMZLNlhbBZWNPUSXou9enwiPIQFzjJcDr85KgeXOp3zilsN0/gvIwiWQqL6t4nxGm2YU/mBw/KdTGPOBYWND0ZYdONUq28gG83p0tmGH7hfQWvicnQLrvQLBnAsZJbqV1g0cQK7bXuWLs8UWZHWBQzMP9y+pvVcMYq5XDFsPxAL78tGmSkyh24nrehiOuMjBxeahOTfAodT7qWizn4egAOXlF1SgwjKAdFg42gv8wMVjT6XHePCOx/2ZBeB2AGtftnJmG/vuh8XYlnxzWttDJMMnk/SbcAZhGu1yiZAme08gTrMo8t7xyOaCS8uZ8GHBnCCrFFMYEzTcuBjGKANWctAVHmBCsWpAMDgF/yYg/62a2nLYqMXP5vScIIZcm/GJmFTkRtGgIsYl5H0HVZkbHWh7dgT+dCi4fQ/UYfeMkFc5sF+n3Lwqav1SSNskjRKJoNAWbI/u2pT2A5dZHUCaCrevItbEIH7LveF3B9jQQ+t3yvBG7tlpjd1WfhEZ+JDiuafrtehEO6bkAoURUQMEJYz/qq1MYy0umgDhiqLtYcgTEFQUNTFLM3/lvYKEi+hiWTNknTXzReosOjR+hZYs4t7xLO81q7PyGaw1X5lzorMmwaaQSYpyb9SMK1AweQ4HTTDxRvEEwKVSR3sE4pgE2jWB9Mb6Bn9jKFFbWhdwnZuA4iD5Ax4xrPAVwVb+L17quGz1KjSw9c4/3UWRNmVHpCYXUHwqlUQ3UC/+hLzBligZsmRoS0pRqlSVldd0M/LXS7D6sE3RCaDq6D0HubwvqIaJ0CzDPBQQnxZV07QWPYscgGAgvACLnupAVxqZb2TpHWrg4eM3bDMi78coldhlzHYBwwCKamwM4QFmnV2+32MTh/TcMiNJb2HNZQndl6qsLYyMPKLYA1ZcAuhIABtv0Ap9fsLEqz/VgeqO7nb7C669jDOJbHaL6k8SZNnRWwf0H3E1X44pYKscamWCRjpTkTbAS83Orzsr1q34wK5bTqJiNYusBqvZ4X1cqYMwWX3vcw1544V6YJ6FoCU3qd95pekMrzFMQab6vL5XKIudKSCka3y+EQ+m0dbQMsB6zBZP9OOOVNsL6FhzZyJjX3ChiacL73zww6lcF6Hg3LEK1Ay6SBxzJ2LQ+uGpk6QLqYTu3FFGEtIn0N6wKz155V0ITjOVGGsDTaBETFcZwcgTvFCiE4QTCVXgNDwKLh6zD2kErJlZYb16snvNxI3iee1/ABjduIP3ieh4H4rbcAWGcuwiITBzPOmJwWaG/d994RBkYmqz6ApTcxLuiWkmYd648YeTeB9seqjL2RHJcFdroOzATEAOsrA3sN6xpDjkHi1DRxtGw1SztUvu06GlKnikV3ODSDHYGNLMQCPUQRjg+rP5d2uCJsNQnmnTq67KZ/XJ10zyHqYgWxnN22uuMp2oPXRFgqLYfp3sFyY5+wdreFgwMMncuHE8TkC/o8aBraqYLvvG5Co9X32D3Bo/c98PN+gLAu8WBgtp4WZF5jBSpZnjWCHjiMiZsdLJhmhWD0WNBBZr33AOssddJ4Fq23uBrhqKb/NQjzmzAafl1TGXgwOKTui+GYhSe6gdVbwwKE0j0laQkymyVgFbPC/QOkmhqmlcw4XUow6EKbKQ7huv2Vfv8pKfrvYEcw1yJp10LdGeFoyOUpW7t4Bu62tsP8cPf1LBoOgAybtSyFvr3rREDHIMWJ9wFspuPqbmO5puUvXBqs1iOjUS3VZFoZkpZwK+0CDr2HZUXgUGzs3lgVIbTkczruzwJ1lJbpPmial6Y4nPotzcWqmjMRpOWo5BZCLFJNIExpz2E3ZwBt3pQLetoxA6qJTns95Vo2sgxKUbZz1ev2NQEh+am/gshF9uvt6rXQeWnQEtSq1ZLO53plObYUTP7n3cvb+mByHVM4105rUK+3zkpuTZOXw8E7Ks8r9X5ax176slo2qV6LT5ardrURcQx2Fw/6oa7xpNntLqKY6+rNanWmytZksKyPnXLQHsxretAP0uEzmEwHZzU4u3l3envBdeqGvcHweNCTfBf//lPZHV6TLvYKqkkZK6pzNxaJDDWrJhWu5+lWWcSJJzGRqlMlkjgREa7J8bLwEs9xMZ/MVSJg3ixjbzOniZ04wrU/Nw5LwgYDbmPscK9ZyiGe544q2zb0JRVJSQFD7Hnwtx4LXG6UaRpD5yJJcCXLssue4tAKLThJHAvYUdsl8f8z2R28+8bGFKlVs3R8jCdOSuwC3uSLC5Vfb0ZK/4fzsXGFz06XMG1crQxxxZJaWk1P3y1o+vpmlfSLcfmUU7wQCGt8H1Y6BU5XcdJb8uz1iqGeJvu5HWpphjt9X9dtG9diccmN4h+wbRdqeGh8lzrwvJOsTwvQOWLTUbDCdOTkezwb7ScsqxaftuR6pTmAYW98gPW80siold4V5b7B+DSD++NeoT2FJaYwOe+KWqilU+z+AdazgknyFUyhzIkUEI4z1g73oxpiL2HBuIrLygYZtqYYyffc/ahK2ktYmKoVpz7ZZOhHYqcQ8j+vPYWFqbCPn7Hk3ah39uPWe22PYelazQkb19dzZz+cO2pvYWmWVaO2VouszO5j+qH2FpZ+N9fdD3+F2ltY+6gDrC10gLWFDrC20F7D0jO+g+JH2mtY+6Y9hEXxjrmN+P7EDdq+wNpUedKym8Tz5uKkOx798cdo1O0tgtARMuIF7cn7wzLWfsBKF+3dpLGYDIYrc51fXMtYLS+71zKGaD5/I9sPWLValASTpZ9ywvoFwywaxSL8lWZFjXZrIUX+T5TcC1g0mU9u0uwnAU5ACWSg0mI1VsR1mvYfgZe3beUOKyxEXvOLT15U+rAoMgg81/7VTzJ6SbnDikRzSr6Vmb2swTzOc800Z1iWbHwBwwG9ghZWC46dHE0rV1iUyq5P1lUixo9hpd6+Hji5BRE5wqKanFe/BQn3TQgf5WOs//EI2Kwn8lriytOy3GabMfMJE7ojBEPhdxhhZDTG4veDVX7rk2d6nz9tjSeXy9njnmigKU6SPI43P1g6LV/5j1Gl9yBUeqFwHFc4YW9IsLj3nmVhuZxBxt6vf8DfE8oLFrUbs7Qa/rFangJQeK+hlB+6d3fL3vdb5CTL+8jvlBMsajlgNOb3lmUwfDYkl51BZVapt5oOjTuPfHxafRuUc/BbeVmWd4ll2Y9hkcF7ebFET47xxODC9T496qq4302U1RPG7ikXWDo4d+OJoB0I+fOoMVxjw/vCju1IXz2GhTerOFbmP5qSj2XxuE6eGgcZG4m0yvvrJquK9DEZj3Y0/OvsQ/kcYOkaVW+fDtkZaXqN+2GqUfHE5yepkqqX+TQxH8uSA4g3n2BgkPbi/BtG8OSVRLSe2LFoEr+h71L4/zPKA5Yezr/3Q08LYF168VPdENV1d7l192eUByyKN6e8RgabhW74HNjbzKtyc+mG6c2Sr9GqKd3Jk0MBqB3+DqOhnnx5+vTvLGrt4/3LgluGQP8ZWLM5/w1gpQ+Yfp7Umo2/nATKcuc3T63hpDKDrIP4XEIHfBz+c8K1rFbQb+pKua7XqTy3MAGvB1lPpnOB5bwIi7VjJV0glSymd4b2u1qWRp2XumGR3XiUzo96l+mja57fcdbI7DnBG+UCC59y/pzAuR8refoCza9qU/vvD4vS9Dbc52AxNrNUB++b/0HCZypqf39Ymx9LeRaW4Qfu0RO5iu81Vr+BZen4w3LPJgqhG5oLt/QDq2Lpc0h+h6CUWmr6cGn9ISzSk94L4yXKZKye/Tp8Pot/ODl8oZeNpXv5I1ikl/0yfA6wLI3rEJa+0NGqnni0mPxQ+OCI32WlVHNOXsrX+523FWa+tIdB8rj9Ka/sTjJ9wbKKuBRqvGR7+EtrWR9zjknWxkslWaw9NF+MHSoyj9KjvGBx/GHWZ+uMWgLvZH0WJUwL3TyKQ/KrdRBv8NF8T2vheSfPDpdFRk7EvZ8EyU45FoaIyXPGw46757Nn7c7AJ3zmojxLjrzJM8ZjvljdZpCgnM+NKnnCosmJj3PBJzy58dQ6lrGOZNksrycX5FtTqppDDBJeV317x8wMciqJzxGWlf7sVct8YTH0SRVZ6/fzWesnO339bYdXYTI2f/Yz/C2Ge8q9Dl6ryZN0iQGL/h6XeOPqhJHWkhLzMjiFTlsE9+9HWa/7pcoflkaVOqlvaD0OJopknd9pTwqiFp/g05JNkxyHPIcQPn9YOq3p0ptPlmll8mP/hff0tFtB7HLd4urjptOO3d9obvhN+Ni6QiEqJ1Hn06DiPwzqTX9V//ym4QmZ/oiIRbnXbNWHgzPxm3bDO0nlJXrQP+tOJqPRaDLu9jrXlkzUg+ff4l7ILg/tE6xUtFyWSigHE9KAie/Tjb/7BYvTu58sTH9w5unfxsxlEo3aL1jpAzPXJGxQ+rOtuR7QQ+0XrD3XAdYWOsDaQgdYW+gAawsdYG2hA6wtdIC1hQ6wttAB1hY6wNpCB1hb6ABrCx1gbaEDrC10gLWFDrAe6HEa5N4r9ABrCx1gbaEDrO+kPyt47wBrI/whuNLLsg6wNtL1H6AC/fP/APr4H+v7o/sRAAAAAElFTkSuQmCC');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: auto;
  background-attachment: fixed;
}
