h1 {
    text-align: center;
    padding: 0px;
    border-style: solid;
    border-width: thick;
    width: 700px;
    border-color: #EE4B6A;
    background-color:black;
    margin: auto;
    color: white;
    font-family:'courier new';
    font-size:50px;
    
}


#play {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 300px;
  padding-right: 300px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}
#credits {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 200px;
  padding-right: 200px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;
}
#leaderboard {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}
#themes {

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}

#exit{

  background-color: black; 
  color: white;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  margin  : auto;
  display : block;
  cursor: pointer;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  font-weight: bold;

}

}


